<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="RExec.Dispatcher.Service.Executor.ExecutorService" behaviorConfiguration="ExecutorBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/executor"/>
            <!-- run cmd as admin for permissions `netsh http add urlacl url=http://+:8000/executor user=yourlocaluser` -->
          </baseAddresses>
        </host>
        <!-- endpoint is exposed at address http://localhost:8000/greeter/requestreply -->
        <endpoint address="" binding="wsHttpBinding" contract="RExec.Dispatcher.Contracts.Service.IExecutor"/>
      </service>
    </services>

    <!-- For debugging purposes set the includeExceptionDetailInFaults attribute to true -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ExecutorBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>