<?xml version="1.0" encoding="utf-8" ?>
<!-- this is the config file that NUnit will load for this test assembly -->
<!-- make sure your post-build command copies it to ApplicationBasePath: -->
<!-- copy ..\..\RExec.Client.Test.dll.config .\ -->
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="DispatcherExecutor" address="http://localhost:8000/executor" binding="wsHttpBinding" contract="RExec.Dispatcher.Contracts.Service.IExecutor">
      </endpoint>
      <endpoint name="DispatcherAssemblyManager" address="http://localhost:8000/assemblymanager" binding="basicHttpBinding" contract="RExec.Dispatcher.Contracts.Service.IAssemblyManager">
      </endpoint>
    </client>
  </system.serviceModel>
  
  <appSettings>
    <!-- relative to ApplicationBasePath -->
    <add key="RExec.Client.Test.host-exe-file" value="..\..\..\RExec.Host\bin\Debug\RExec.Host.exe"/>
    <add key="DependencyResolver.assembly-path" value="..\..\..\Instructions.Reference.Client.Dependency\bin\Debug;..\..\..\Instructions.Reference.Client\bin\Debug;..\..\..\RExec.Client\bin\Debug;..\..\..\Instructions.Reference.Host.Dependency\bin\Debug;..\..\..\Instructions.Reference.Host\bin\Debug;..\..\..\RExec.Host\bin\Debug"/>
  </appSettings>
</configuration>