<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <!-- this seems to have no effect -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin\Debug" />
    </assemblyBinding>
  </runtime>
  
  <appSettings>
    <!-- path to look for assemblies (relative to ApplicationBasePath) -->
    <add key="Plugin.assembly-path" value="D:\AbbinkM\projects\RExec\Instructions.Reference.Client\bin\Debug;D:\AbbinkM\projects\RExec\Instructions.Reference.Client.Dependency\bin\Debug"/>
  </appSettings>
</configuration>