<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="DispatcherExecutor" address="http://localhost:8000/executor" binding="wsHttpBinding" contract="RExec.Dispatcher.Contracts.Service.IExecutor">
      </endpoint>
      <endpoint name="DispatcherAssemblyManager" address="http://localhost:8000/assemblymanager" binding="basicHttpBinding" contract="RExec.Dispatcher.Contracts.Service.IAssemblyManager">
      </endpoint>
    </client>
  </system.serviceModel>

  <appSettings>
    <add key="DependencyResolver.assembly-path" value="..\..\..\RExec.Host\bin\Debug;..\..\..\Instructions.Reference.Host\bin\Debug"/>
  </appSettings>
</configuration>
